PORT=8000 # replace with your fastapi server port, default is 8000
TIMEOUT=60 # if the response time exceeds this value, the request will be aborted

#telegram
TELEGRAM=True   # set to True if you want to use coze-telegram bot
API_ID=23333333 # replace with your api id
API_HASH=96z7a292723306fdgb2338d2338cr6d6 # replace with your api hash
BOT_USERNAME=@dalle_bot # replace with your bot username
SESSION_NAME=whatever  # replace with your session name

#discord
DISCORD=False   # set to True if you want to use coze-discord bot
DISCORD_ClIENT_BOT_TOKEN=MTE52330uoY0ZAQ3NjE1NztxOQ.2334P1.D8z6FuppNs23380xbs2ak_ih2GFNPt_yt1QgL6 # replace with your discord bot token
DISCORD_CHANNEL_ID=1206832685596528246  # replace with your discord channel id
DISCORD_DALLE_BOT_ID=1208542007775832028    # replace with your coze-discord bot id
