# If you want to custom the 'PORT' value when using docker, you should pass '-e PORT=your_port_num' to docker run command.
PORT=8000 # replace with your fastapi server port, default is 8000.
TIMEOUT=60 # if the response time exceeds this value, the request will be aborted
KEY=free-dall-e-proxy # custom key for access control, set 'KEY=key1,key2,key3' if you want to use multiple keys
WEB_SHARE=False # Wheather allow people who do not have a key to use the web interface to access the proxy service. If your env 'KEY' is empty, the web share will always be enabled.
#PROXY=http://127.0.0.1:7890 # you should set the proxy if you cannot connect to discord or telegram
#PROXY_AUTH=username:password # set the proxy auth if your proxy requires auth
ADDITION_PROMPT="Make sure to give me the image directly without replying with any other description texts like 'Here is an image of xxx'."

# telegram
TELEGRAM=True   # set to True if you want to use coze-telegram bot
API_ID=23333333 # replace with your api id
API_HASH=96z7a292723306fdgb2338d2338cr6d6 # replace with your api hash
BOT_USERNAME=@dalle_bot # replace with your bot username
SESSION_NAME=whatever  # replace with your session name
#SESSION_STRING=2BctsOKw8u7koN...NqHR5ehWjJ8N60z... # you can set this env if you have already got a telegram string session
TELEGRAM_GROUP_ID=-123456789 # replace with your telegram group id

# discord
DISCORD=False   # set to True if you want to use coze-discord bot
#DISCORD_ClIENT_BOT_TOKEN=MTE52330uoY0ZAQ3NjE1NztxOQ.2334P1.D8z6FuppNs23380xbs2ak_ih2GFNPt_yt1QgL6 # replace with your discord bot token (Deprecated)
DISCORD_AUTH=MyIxMDUzNDY3eTk5rzcuMTQxMA.G0fBkt.7z6pXlhDZcacFr36 # replace with your discord token
DISCORD_CHANNEL_ID=1206832685596528246  # replace with your discord channel id
DISCORD_DALLE_BOT_ID=1208542007775832028    # replace with your coze-discord bot id
